@model FootballAnalyzer.Models.RootObject

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Games Today";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            FootballScraper.JsonParser.ParseData();
        });
    </script>
    
}

<div class="panel" style="margin-top: 40px">

    <div class="panel-heading">
        <h2>Today's Football Predictions</h2>
    </div>

    <div class="panel-body" id="today-games-container" data-url="@Url.Action("GetGames", "Home")"></div>

    <div class="col-sm-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
        <h4> Briliant Football Predictions Every Day!</h4>
        <p class="pull-left">This website is accurate football predictions everyday according to many different criteria it follow, based on historical results over time, team's performance, and data gathered from many useful webpages all around internet. The main goal is that you have got a better understanding of the statistics and analyse all the resources that available to you.</p>
    </div>

</div>


