<!DOCTYPE html>
<html>
<head>
    <title>Football Analyser</title>



</head>
<body>
<h4 class="text-center" style="margin-top: 60px">Today's Football Predictions</h4>
<div class="panel body body-content">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>Game</th>
                    <th>Team Home</th>
                    <th>Team Away</th>
                    <th>Home Team to Win</th>
                    <th>Draw</th>
                    <th>Away Team to Win</th>
                </tr>
                </thead>
                <tbody id="myTable">
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
            <h4> Briliant Football Predictions Every Day!</h4>
            <p class="pull-left">This website is accurate football predictions everyday according to many different criteria it follow, based on historical results over time, team's performance, and data gathered from many useful webpages all around internet. The main goal is that you have got a better understanding of the statistics and analyse all the resources that available to you.</p>
        </div>
    </div>
</div>
</body>
</html>